dl.text-center
  dt Purpose?
  dd This tool was made to help you with translations for the official Stonehearth's in-game phrases.
  br
    
  dt What this tool does?
  dd This tool exports the official language JSON file to a CSV file and vice-versa.
  dd You can use CSV files in Microsoft Excel, Microsoft OneDrive Excel online, Google Drive and other programs that support ".csv" file extension.
  dd If Radiant updates their language JSON (new, updated or deleted phrases) file you can update your CSV file with ease.
  br
  
  dt More Information
  dd I really advice you to read this <code>http://discourse.stonehearth.net/t/stranslation-stonehearth-translation-toolkit/8768</code>
dl